@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* This covers font-weights from 100 (Thin) to 900 (Black) */
    font-style: normal;
  }

  @font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf')
      format('truetype');
    font-weight: 100 900; /* This covers font-weights from 100 (Thin) to 900 (Black) */
    font-style: italic;
  }

  h1,
  .h1 {
    @apply font-sans text-3xl font-semibold;
  }

  h2,
  .h2 {
    @apply font-sans text-2xl font-semibold;
  }
}

@layer utilities {
  .custom-angled-rectangle-cyan-animated {
    animation: angleChangeCyan 20s infinite;
  }

  .custom-angled-rectangle-cyan-animated-mobile {
    animation: angleChangeCyanMobile 20s infinite;
  }

  .custom-angled-rectangle-amber-animated-testimonials {
    animation: angleChangeAmber 20s infinite;
  }

  .custom-angled-rectangle-amber-testimonials-animated-mobile {
    animation: angleChangeAmberMobile 20s infinite;
  }

  .custom-angled-rectangle-cyan {
    clip-path: polygon(0% 0%, 100% 0%, 98.76% 91.43%, 3.13% 100%);
  }

  .custom-angled-rectangle-amber-header {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
  }

  .custom-angled-rectangle-red-testimonials {
    clip-path: polygon(2.5% 0%, 100% 1.5%, 98.5% 97%, 0% 100%);
  }

  .custom-angled-rectangle-red-testimonials-mobile {
    clip-path: polygon(0% 0%, 100% 1.5%, 100% 97%, 0% 100%);
  }

  .gradient-mask-r-90 {
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 90%,
      transparent 100%
    );
  }
}

/*
How clip-path: polygon() works:

|----------------> x
| 1_____________2
| |             |
| |             |
| |_____________|
V 4             3
y

- Coordinate system starting in the top right corner at 0% y and 0% x
- 100% x means full width to the right
- 100% y means full height to the bottom
- 1: top left corner
- 2: top right corner
- 3: bottom right corner
- 4: bottom left corner
-          1    2    3    4
  polygon(x y, x y, x y, x y);
- A normal rectangle would represented as:
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
*/

@keyframes angleChangeCyanMobile {
  0%,
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0% 98%);
  }
}

@keyframes angleChangeCyan {
  0%,
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 98.76% 91.43%, 3.13% 100%);
  }
  50% {
    clip-path: polygon(0% 0%, 99% 0%, 97% 92%, 2% 99%);
  }
}

@keyframes angleChangeAmber {
  0%,
  100% {
    clip-path: polygon(0% 3%, 98% 0%, 100% 100%, 0% 95%);
  }
  50% {
    clip-path: polygon(1% 2%, 99% 0%, 99% 99%, 2% 96%);
  }
}

@keyframes angleChangeAmberMobile {
  0%,
  100% {
    clip-path: polygon(0% 3%, 98% 0%, 100% 100%, 0% 95%);
  }
  50% {
    clip-path: polygon(0% 2%, 96% 2%, 99% 97%, 0% 97%);
  }
}

.icon-link {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  display: none;
  background: url(/icons/link.svg);
}

h1:hover .icon-link,
h2:hover .icon-link,
h3:hover .icon-link,
h4:hover .icon-link,
h5:hover .icon-link,
h6:hover .icon-link {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 160px;
}
