@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  .h1 {
    @apply font-primary text-3xl font-semibold;
  }
}

@keyframes angleChange {
  0%,
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 98.76% 91.43%, 3.13% 100%);
  }
  50% {
    clip-path: polygon(0% 0%, 99% 0%, 97% 92%, 2% 99%);
  }
}

.custom-angled-rectangle-animated {
  animation: angleChange 20s infinite;
}

.custom-angled-rectangle-cyan {
  clip-path: polygon(0% 0%, 100% 0%, 98.76% 91.43%, 3.13% 100%);
}

.custom-angled-rectangle-yellow {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}
